apiVersion: v1
kind: Pod
metadata:
  name: registry
  namespace: registry
  labels:
    component: registry
spec:
  containers:
    - name: registry
      image: registry:{{ registry_version }}
      imagePullPolicy: IfNotPresent
      env:
        - name: REGISTRY_HTTP_ADDR
          value: "0.0.0.0:{{ registry_port }}"
        - name: REGISTRY_AUTH
          value: htpasswd
        - name: REGISTRY_AUTH_HTPASSWD_REALM
          value: "Registry Realm"
        - name: REGISTRY_AUTH_HTPASSWD_PATH
          value: /config/htpasswd
        - name: REGISTRY_HTTP_TLS_CERTIFICATE
          value: /config/registry.crt
        - name: REGISTRY_HTTP_TLS_KEY
          value: /config/registry.key
      volumeMounts:
        - name: registry-data
          mountPath: /var/lib/registry
        - name: registry-config
          mountPath: /config
  hostNetwork: true
  volumes:
    - name: registry-data
      hostPath:
        path: {{ registry_data_dir }}
        type: Directory
    - name: registry-config
      hostPath:
        path: {{ registry_config_dir }}
        type: Directory
