---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: registry
  namespace: registry
  labels:
    app: registry
    component: registry
spec:
  serviceName: registry
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      initContainers:
        # Generate htpasswd file
        - name: init-registry
          image: registry:{{ registry_legacy_version }}
          imagePullPolicy: IfNotPresent
          command: [ /bin/sh ]
          args: [ -c, "/usr/bin/htpasswd -Bbn \"$REGISTRY_USER\" \"$REGISTRY_PASSWORD\" > /htpasswd/htpasswd" ]
          env:
            - name: REGISTRY_USER
              valueFrom:
                secretKeyRef:
                  name: registry-secrets
                  key: registry.user
            - name: REGISTRY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: registry-secrets
                  key: registry.password

          volumeMounts:
            - name: htpasswd-dir
              mountPath: /htpasswd

      containers:
        - name: registry
          image: registry:{{ registry_version }}
          imagePullPolicy: IfNotPresent
          env:
            - name: REGISTRY_HTTP_ADDR
              value: "0.0.0.0:{{ registry_port }}"
            - name: REGISTRY_AUTH
              value: htpasswd
            - name: REGISTRY_AUTH_HTPASSWD_REALM
              value: "Registry Realm"
            - name: REGISTRY_AUTH_HTPASSWD_PATH
              value: /htpasswd/htpasswd
            - name: REGISTRY_HTTP_TLS_CERTIFICATE
              value: /secrets/registry.crt
            - name: REGISTRY_HTTP_TLS_KEY
              value: /secrets/registry.key
          volumeMounts:
            - name: registry-data
              mountPath: /var/lib/registry
            - name: registry-secrets
              mountPath: /secrets
            - name: htpasswd-dir
              mountPath: /htpasswd

      volumes:
        - name: registry-secrets
          secret:
            secretName: registry-secrets
        - name: htpasswd-dir
          emptyDir: {}

  volumeClaimTemplates:
    - metadata:
        name: registry-data
      spec:
{% if registry_pvc_storage_class != "" %}
        storageClassName: {{ registry_pvc_storage_class }}
{% endif %}
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ registry_pvc_size }}

---
kind: Service
apiVersion: v1
metadata:
  name: registry-svc
  namespace: registry
spec:
  selector:
    app: registry
  type: NodePort
  ports:
    - name: registry-http
      protocol: TCP
      port: 5000
      targetPort: 5000
