apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-local-pv
spec:
  capacity:
    storage: {{ rook_nfs_pv_size }}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ rook_nfs_pv_dir }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - {{ rook_nfs_pv_host }}
