## Kubernetes versions
KUBE_VERSIONS="1.17.7 1.18.5"

## Proxy config
#PROXY_URL=http://proxy.example.com:8080
#NO_PROXY=127.0.0.1,localhost

## Container engine: 'docker' or 'containerd'
CONTAINER_ENGINE=docker
#CONTAINER_ENGINE=containerd
