apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ip }}
  bindPort: 6443
nodeRegistration:
  name: {{ inventory_hostname }}

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
#kubernetesVersion: stable
kubernetesVersion: v{{ kube_version }}
#clusterName: kubernetes
#imageRepository: k8s.gcr.io

apiServer:
  certSANs:
    - "{{ lb_apiserver_address }}"
    - localhost
    - 127.0.0.1
  timeoutForControlPlane: 4m0s

controlPlaneEndpoint: "{{ lb_apiserver_address }}:{{ lb_apiserver_port }}"

networking:
  dnsDomain: cluster.local
  podSubnet: "{{ pod_subnet }}"
dns:
  type: CoreDNS

#etcd:
#  local:
#    dataDir: /var/lib/etcd
