apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
{% if advertise_address is defined %}
localAPIEndpoint:
  advertiseAddress: {{ advertise_address }}
  bindPort: 6443
{% endif %}

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
#kubernetesVersion: v1.18.0
#clusterName: kubernetes
#imageRepository: k8s.gcr.io

apiServer:
  certSANs:
{% if lb_apiserver_address is defined %}
    - "{{ lb_apiserver_address }}"
{% endif %}
    - localhost
    - 127.0.0.1
  #timeoutForControlPlane: 4m0s

{% if lb_apiserver_address is defined %}
controlPlaneEndpoint: "{{ lb_apiserver_address }}:{{ lb_apiserver_port }}"
{% endif %}

networking:
  dnsDomain: cluster.local
  podSubnet: "{{ pod_subnet }}"
dns:
  type: CoreDNS

#etcd:
#  local:
#    dataDir: /var/lib/etcd
