apiVersion: kubeadm.k8s.io/{{ kubeadm_config_api_version }}
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ip }}
  bindPort: 6443
nodeRegistration:
  name: {{ inventory_hostname }}
{% if container_engine == "containerd" %}
  criSocket: /run/containerd/containerd.sock
{% endif %}

---
apiVersion: kubeadm.k8s.io/{{ kubeadm_config_api_version }}
kind: ClusterConfiguration
#kubernetesVersion: stable
kubernetesVersion: v{{ kube_version }}
clusterName: {{ cluster_name }}
imageRepository: {{ image_repository }}

apiServer:
  certSANs:
{% for san in apiserver_cert_sans %}
    - {{ san }}
{% endfor %}
  timeoutForControlPlane: 4m0s

controlPlaneEndpoint: "{{ lb_apiserver_address }}:{{ lb_apiserver_port }}"

networking:
  dnsDomain: cluster.local
  podSubnet: "{{ pod_subnet }}"
dns:
  type: CoreDNS

#etcd:
#  local:
#    dataDir: /var/lib/etcd

---
{% if container_engine == "cri-o" %}
# It seems that this is needed for cri-o.
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
{% endif %}
